html
{
    background-color: #cab29e;
    background-size: 100%;
}

/*Banner*/
.banner{
    
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 100%;
    height: 160px;
}

.register{
  position: absolute;
  top:16%;
  left:80px;
  font-size:60px;
  color: white;
}
.logo{
  width:50px;
  height:15px;
}

/* Main body*/
.container{
  max-width: 500px;
  border: 50;
  margin: auto;
  padding: 50px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background-color: white;
  margin-top:50px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 40px;
  position: relative;
}

input{
  width: 250px;
  height: 20px;
}

/*Main body in itinerary*/
.container2{
  max-width: 400px;
    border: 50;
    margin-left: 50px;
    padding: 50px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-color: white;
    margin-top:30px;
    text-align: center;
}

/*Itinerary page*/
.gala{
  color:#4f4034;
  margin-left: 100px;
}

#waltz video{
  width: 500px;
    float: right;
    position: relative;
    top: 55px;
    right:60px;
    margin-top: -870px;

}

.vote{
  width: 500px;
  float: right;
    position: relative;
    top: 55px;
    right:60px;
    margin-top: -600px;
}

div.scroll-container {
  background-color: #333;
  overflow: auto;
  white-space: nowrap;
  padding: 10px;
}

div.scroll-container img {
  padding: 10px;
}

.menu{
  width: 400px;
   height:400px;
}

/*Ticket page*/
.ticket{
  width: 75%;
  position: relative;
}

.hw{
  position: absolute;
  top:10%;
  left:440px;
  font-size:20px;
  color: white;
}



/*Registration page*/
.qr{
  width:150px;
  height:150px;
}

.form-group{
  margin-bottom: 30px; 
}   

.ballroom{
  background-image: url(ballrooom.jpg);
  width:auto;
  height: 700px;
  /* Control the height of the image */
 
  margin-top:-40px;
  left:-1px;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  
  position: absolute;
}

/*Footer part*/
footer
{
  background-color: RGB(139,133,119);
  color: white;
}
footer img {
  width: 45%;
  z-index: 1;
  float: right;
  margin-left: -30px;
}

.foot{
  width: 500px;
  display: inline-block;
  flex-wrap: wrap;
  align-content: left;
  left: 250px;
  top: 1340px;
  color: white;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

p.foot
{
  margin-left: 25px;
}

ul.foot
{
  margin-left: 100px;
  margin-top: -35px;
}

#call{
  left: 865px;
  top: 1400px;
  font-size: 15px;
  color: white;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.fa{
 color: white;
 margin-left: 15px;
 width: 20px;
 height:20px;
}

#ad{
  width: 865px;
  left: 865px;
  top: 1450px;
  font-size: 15px;
  color: white;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

#mail {
  width: 865px;
  left: 865px;
  top: 1532px;
  font-size: 15px;
  color: white;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.c1{
  height: 40px;
  width: 40px;
  background-color: #5a4a3d;
  border-radius: 50%;
  top: 1405px;
  left: 800px;
  z-index: 5;
}

.c2{
  height: 40px;
  width: 40px;
  background-color: #5a4a3d;
  border-radius: 50%;
  top: 1464px;
  left: 800px;
  z-index: 5;
}

.c3{
  height: 40px;
  width: 40px;
  background-color: #5a4a3d;
  border-radius: 50%;
  top: 1521px;
  left: 800px;
  z-index: 5;
}

.fa-sharp {
  color: white;
  
  top: 20px;
  left: 10px;
}

.fa-solid {
color: white;
  top: 20px;
  left: 12px;
}

.fa-regular {
color: white;
  top: 21px;
  left: 9px;
}

.quote{
  top: 1315px;
  left:30px;
  font-size:50px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color:white;
}

#hori{
  width:auto;
  top: 1370px;
  left: 30px;
}

/*About Page*/
#founder {
  width: 600px;
  display:inline-block;
  flex-wrap: wrap;
  align-content: left;
  position: relative;
  left: 50px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
#venue {
  width: 600px;
  display:inline-block;
  flex-wrap: wrap;
  align-content: left;
  position: relative;
  left: 50px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

#theme {
  width: 600px;
  display:inline-block;
  flex-wrap: wrap;
  align-content: left;
  position: relative;
  left: 50px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
#eleanor img {
  width: 450px;
  float: right;
  position: relative;
  top: 20px;
  right: 80px;
}

#heriot img {
  width: 500px;
  float: right;
  position: relative;
  top: 40px;
  right: 40px;
}

#kanthony video {
  width: 500px;
  float: right;
  position: relative;
  top: 55px;
  right: 30px;
}

#music {
  width: 600px;
  display:inline-block;
  flex-wrap: wrap;
  align-content: left;
  position: relative;
  left: 50px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.div {
  width: 1130px;
  position: absolute;
  z-index: 1;
}

.spot iframe {
  width:40%;
  height:352px; 
  align-items: center;
  border-radius: 12px;
  position: relative;
  top: -100px;
  left: 770px;
}

/*Home page*/
.envelope{
  margin-top: 100px;
  margin-left: 300px;
  width: 50%;
}

.poster{
    width: 50%;
    margin-left: 50px;
    margin-top: 20px;
}

.price{
  width: 35%;
  margin-left: 70px;
  position: relative;
}

/*Navigation bar*/
  .navbar {
    overflow: hidden;
    background-color:rgba(139,133,119,255);
    font-family: Arial;
  }
  
 
  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
 
  .dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; 
    margin: 0;
  }
  
 
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #f2f2f2;
    color: black;
  }
  
 
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
 
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

  .navbar a.split{
    float: right;
    color: black;
    background-color:antiquewhite;
}

/*Log in page*/
.b1 {
  background-color: rgba(90,23,94,255);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  align-content: center;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  display:block; 
  margin: 0 auto;
  opacity: 9.0;
  border: solid rgba(90,23,94,255) 2px;
}

.b1:hover {
  background-color: plum;
  color:rgba(90,23,94,255);
  opacity: 1;
}

.log {
width: 100%;
max-width: 600px;
margin: 0 auto;
padding: 30px;
border: solid darkslategrey 2px;
position: absolute;
top: 300px;
left: 350px;
background-color: #cab29e;
}

.input-container {
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-bottom: 15px;
}

.icon {
  padding: 10px;
  background: rgba(90,23,94,255);
  color: rgba(210,175,255,255);
  min-width: 50px;
  text-align: center;
}

.input-field {
  width: 100%;
  padding: 10px;
  outline: none;
}

.input-field:focus {
  border: 2px solid dodgerblue;
}
.slogin {
  position: absolute;
  top: 5%;
  left: 80px;
  font-size: 40px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
